*{
    margin: 0px;
    padding: 0px;
}
a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    color: #000;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #f00;
    height: 8vh;
   
  
    
}
main{
    background: url("restaurantes2.png") no-repeat 
    center center;
    background-size: cover;
    height: 92vh;
}
.listagem{
    list-style: none;
    display: flex;
}
.listagem li{
    letter-spacing: 3px;
    margin-left: 32px;
  
}
.menu{
    cursor: pointer;
    display: none;
}

.menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    
    

}
@media(max-width:999px){
    .listagem{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vh;
        height: 92vh;
        background: #f00;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }
    .listagem{
        margin-left: 0;
    }
    .menu{
        display: block;
    }
}


